openapi: 3.0.0
info:
  title: Colecta API
  description: API for managing debtors, invoices, and contacts in the Colecta platform
  version: 1.0.0
  contact:
    name: Colecta Development Team

servers:
  - url: https://api.colecta.lv/v1
    description: Production API Gateway URL

tags:
  - name: Colecta v1 API
    description: Endpoints for managing debtors, invoices, and contacts in the Colecta platform

components:
  schemas:
    Contact:
      type: object
      required:
        - debitorName
      properties:
        contactName:
          type: string
          description: Name of the contact person
        contactEmail:
          type: string
          format: email
          description: Email address of the contact person
        contactPhone:
          type: string
          description: Phone number of the contact person
        debitorName:
          type: string
          description: Name of the debtor company
        regNr:
          type: string
          description: Registration number of the debtor company
      oneOf:
        - required: [contactEmail]
        - required: [contactPhone]
        - required: [regNr]
        - required: [debitorName]

    Debitor:
      type: object
      properties:
        debitorName:
          type: string
          description: Name of the debtor company
        regNr:
          type: string
          description: Registration number of the debtor company
        contactName:
          type: string
          description: Name of the contact person
        contactEmail:
          type: string
          format: email
          description: Email address of the contact person
        contactPhone:
          type: string
          description: Phone number of the contact person
      oneOf:
        - required: [regNr]
        - required: [debitorName]

    Invoice:
      type: object
      required:
        - invoiceNumber
        - dueDate
        - dueAmount
      properties:
        invoiceNumber:
          type: string
          description: Unique identifier for the invoice
        dueDate:
          type: string
          format: date
          description: Due date of the invoice (YYYY-MM-DD)
        dueAmount:
          type: number
          minimum: 0
          description: Amount due for the invoice
        issueDate:
          type: string
          format: date
          description: Issue date of the invoice (YYYY-MM-DD)
        category:
          type: string
          description: Category of the invoice
        debitorName:
          type: string
          description: Name of the debtor company
        regNr:
          type: string
          description: Registration number of the debtor company
      oneOf:
        - required: [regNr]
        - required: [debitorName]

    FileData:
      type: object
      required:
        - name
        - content
        - type
      properties:
        name:
          type: string
          description: Original filename
        content:
          type: string
          format: byte
          description: Base64-encoded file content
        type:
          type: string
          description: MIME type of the file

    ColumnMapping:
      type: object
      description: Configuration for mapping file columns to database fields

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        details:
          type: string
          description: Detailed error information

  securitySchemes:
    collectaApiKey:
      type: apiKey
      in: header
      name: collecta-api-key
      description: API key for authentication
    xApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: AWS API Gateway key
    origin:
      type: apiKey
      in: header
      name: Origin
      description: Origin header for CORS

paths:
  /status:
    get:
      summary: Get job status
      description: Check the status of a previously submitted import job
      security:
        - collectaApiKey: []
        - xApiKey: []
        - origin: []
      parameters:
        - name: jobId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the job to check
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [PENDING, PROCESSING, COMPLETED, FAILED]
                    description: Current status of the job
                  message:
                    type: string
                    description: Additional status information
                  progress:
                    type: number
                    minimum: 0
                    maximum: 100
                    description: Progress percentage of the job
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Colecta v1 API

  /import:
    post:
      summary: Upload contact information
      description: Upload contact information for debtors
      security:
        - collectaApiKey: []
        - xApiKey: []
        - origin: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contacts
              properties:
                contacts:
                  type: array
                  items:
                    $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Successfully submitted import job
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    format: uuid
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Colecta v1 API

  /upload/debitors:
    post:
      summary: Upload debtor information
      description: Upload debtor information
      security:
        - collectaApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - debitors
              properties:
                debitors:
                  type: array
                  items:
                    $ref: '#/components/schemas/Debitor'
      responses:
        '200':
          description: Successfully submitted import job
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    format: uuid
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Colecta v1 API

  /upload/invoices:
    post:
      summary: Upload invoice information
      description: Upload invoice information
      security:
        - collectaApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invoices
              properties:
                invoices:
                  type: array
                  items:
                    $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: Successfully submitted import job
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    format: uuid
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
        - Colecta v1 API
